# Kafka 환경변수 패치 - dev 환경의 서비스 이름 반영
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: kafka
spec:
  template:
    spec:
      containers:
        - name: kafka
          env:
            - name: KAFKA_ZOOKEEPER_CONNECT
              value: "dev-zookeeper:2181"
            - name: KAFKA_ADVERTISED_LISTENERS
              value: "PLAINTEXT://dev-kafka:9092,INTERNAL://dev-kafka:9093"